* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

a {
    text-decoration:none;
    color:#ECF39E;
    font-family:sans-serif;
}

a:hover {
    color:#90A955;
}

li {
    border:2px solid #132A13;
    border-radius:5px;
    background-color:#31572C;
    margin:5px 10px 5px 10px;
    padding:10px;
}

.heading {
    background-color:#132A13;
    height:5vh;
}

.heading h1{
font-family:sans-serif;
text-align:center;
color:lightyellow;
}

.list {
    list-style: none;
    width:100vw;
    height:auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    background-color:#4F772D;
    
}
